// Body
$body-bg: #f8fafc;

// Typography
$base-font: 'NotoSans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.1;

//sizes
$aside-width: 300px;
$header-heigth: 60px;
$footer-heigth: 60px;

//colors
$dark-blue: #1d3557;
$text-color: #173038;
$ligth-green: #f1faee;
$ligth-gray: #ebf2fa;

//Breakpoints
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//mobile-first
$xsm: 479.98px;
$smm: 575.98px;
$mdm: 767.98px;
$lgm: 991.98px;
$xlm: 1199.98px;
$xxlm: 1399.98px;
