.invoice__items {
    margin-bottom: 16px;
}


.invoice-card {
    max-width: 1350px;
    margin: 20px auto;
}

.invoice-card .el-divider h3 {
    font-size: 1rem;
}

.invoice-header {
    margin-bottom: 20px;
}

.invoice-meta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.invoice-meta__item strong {
    display: inline-block;
    margin-right: 12px;
}

.invoice-party {
    margin: 15px 0;
}
.invoice-party__item:not(:last-child),
.invoice-contract__item:not(:last-child){
margin-bottom: 12px;
}

.invoice-contract {
    margin: 15px 0;
}

.invoice-total {
    margin-top: 20px;
    text-align: right;
}

.el-divider__text {
    font-size: 16px;
}

.invoice-card__buttons {
    margin-top: 24px;
}

.invoice-card__buttons ul {
    display: flex;
    gap: 16px;
}